---
language: node_js
node_js:
  - "stable"

sudo: required
dist: trusty

cache:
  directories:
    - node_modules

before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "npm config set progress false"

install:
  - npm install -g bower
  - npm install --no-optional
  - bower install

script:
  - npm test
