{{link-to 'Create' 'model-records.new'}}
<table>
  <tr>
    {{#each column in columns}}
      <td>{{column}}</td>
    {{/each}}
  </tr>
  {{#each record in model}}
    <tr>
      {{#each column in columns}}
      <td>
        {{#link-to 'model-records.edit' record}}
          {{property-print record column}}
        {{/link-to}}
      </td>
      {{/each}}
    </tr>
  {{/each}}
</table>
